$navbar : #334050;
$background: #57ba9d;
$white: #f5fbfb;

body {
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Lato', sans-serif;
    color: $white;

}

nav {
    background-color: $navbar;
    height: 100px;
    width: 100%;
    text-transform: uppercase;
    justify-content: space-around !important;

    .list {
        ul {
            list-style-type: none;
            flex-direction: row;
        }

        li {
            padding-left: 50px;
        }
    }


}

section {
    flex-direction: column;
    background-color: $background;
    height: 570px;

    img {
        width: 400px;
        height: 300px;
    }

    h1 {
        text-transform: uppercase;
        font-size: 90px;
        margin: 0;
    }

    h4 {
        font-weight: normal;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.starbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 400px;
    padding-bottom: 2%;
}


.line {
    width: 40%;
    height: 5px;
    background-color: $white;
    border-radius: 3px;
}